/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.company-wrapper {
  background-color: $c-resolution-blue;
  color: $c-white;
  position: relative;

  .company-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 8px 16px;

    h3 {
      margin: 0;
      padding: 8px 16px 8px 0;
      color: $c-white;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      font-size: pxToRem(24);
      line-height: 32px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      cursor: pointer;
      margin-left: 14px;
    }

    span {
      color: $c-azure-radiance;
    }

    .panel-mobile {
      display: none;
    }

    .intro-info {
      width: 80%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 0 $space-x-small;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      p {
        margin: auto 26px;
        font-weight: 500;
        font-size: pxToRem(16);
      }

      p:nth-of-type(2) {
        border-radius: 50%;
        border: 1px solid $c-white;
        font-size: pxToRem(16);
        padding: 0px 6px;
      }

      button:first-of-type {
        margin: auto $space-xs-small;
        background-color: $c-resolution-blue;
        color: $c-white;
        border: 1px solid $c-white;
        font-size: pxToRem(14);
        line-height: 1.2;
        font-weight: 600;
        padding: $space-x-small $space-x-small;
      }

      button:nth-of-type(2) {
        margin: auto $space-xs-small;
        background-color: $c-white;
        color: $c-lochmara;
        font-size: pxToRem(14);
        font-weight: 600;
        padding: 8px $space-x-smaller;
        border: 1px solid $c-lochmara;
      }

      button:nth-of-type(3) {
        margin: auto $space-xs-small;
        background-color: $c-white;
        color: $c-lochmara;
        font-size: pxToRem(14);
        font-weight: 600;
        padding: 8px 16px;
        border: 1px solid $c-lochmara;
      }
    }
  }

  .navigation {
    display: block;
    max-width: 1140px;
    margin: 0 auto;

    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin: 0;
      margin-top: 7px;
      overflow-x: auto;

      li {
        padding: 16px $space-x-small;
        position: relative;
        font-size: pxToRem(14);
        padding-left: $space-x-large;
        font-weight: 500;
        cursor: pointer;

        img {
          max-width: 100%;
          height: 28px;
          position: absolute;
          left: $space-x-small;
          top: $space-x-small;
        }
      }

      li:hover {
        background-color: $c-chatthams-blue;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .company-wrapper {
    .company-intro {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: unset;

      .intro-info {
        display: none;
      }

      h3 {
        margin-left: 0;
      }

      .panel-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0;

        img {
          margin: 0 $space-small;
        }
      }
    }
  }
}
