/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.search-wrapper {
  margin: 0;
  padding: $space-x-small;
  background-color: $c-wild-sand;
  position: relative;
  border-bottom: 1px solid $c-mercury;

  .search {
    max-width:$wrapper;
    margin: 0 auto;

    h1 {
      font-size: pxToRem(24);
      line-height: 32px;
      font-weight: 600;
      padding-bottom: 0;
      margin-bottom: 0;
      color: $c-mine-shaft;
    }

    p {
      margin: 0;
      line-height: 24px;
      font-size: pxToRem(14);
    }
  }

  .search-mobile {
    display: none;
  }

  .bar-wrapper {
    max-width:$wrapper;
    margin: 28px auto;
    position: relative;

    .search-bar {
      color: $c-mine-shaft;
      border-radius: 4px;
      margin: -7px 0 16px;
      position: relative;

      form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: $space-xs-small solid $c-selective-yellow;
        border-radius: $space-xs-small;
        position: relative;
        // box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

        img {
          background-color: $c-white;
          position: absolute;
          top: $space-small;
          left: 13px;
          opacity: 0.2;
          pointer-events: none;
        }

        img:nth-of-type(2) {
          top: 14px;
          right: 35.5%;
          left: unset;
        }

        input:first-of-type {
          width: 25%;
          padding: 0 $space-medium;
          padding-left: $space-x-large;
          border: none;
          border-right: $space-xs-small solid $c-selective-yellow;
          font-weight: 600;
          font-size: pxToRem(14);
        }

        input:nth-of-type(2) {
          width: 25%;
          padding: 0 $space-medium;
          padding-left: $space-x-large;
          border: none;
          border-right: $space-xs-small solid $c-selective-yellow;
          font-weight: 600;
          font-size: pxToRem(15);
        }

        div {
          margin: 0;
          width: 25%;
          padding-left: $space-x-large;
          border: none;
          border-right: $space-xs-small solid $c-selective-yellow;
          font-weight: 600;
          background-color: $c-white;
          position: relative;

          p {
            padding: 18px 0;
            margin: 0;
            cursor: pointer;
            font-size: pxToRem(14);
            pointer-events: unset;
          }

          .details {
            position: absolute;
            top: 132%;
            right: 0%;
            width: 30%;
            min-width: 400px;
            background-color: $c-white;
            // -webkit-box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
            // box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
            background: $c-white;
            padding: 28px 36px;
            border-radius: 4px;
            border: none;
            z-index: 1;

            .children,
            .adults,
            .rooms {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
              padding: 0;
              margin: 0;
              width: unset;
              border: none;
              position: relative;

              p {
                padding: $space-standard 18px;
                margin: 0;
                min-width: 48px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
              }

              span {
                position: absolute;
                top: $space-large;
                left: 18px;
                color: $c-dove-gray;
                font-size: pxToRem(13);
              }

              .changeData {
                border: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 34%;

                .change {
                  margin: auto 0;
                  width: $space-large;
                  height: $space-large;
                  min-width: $space-large;
                  background-color: $c-white;
                  color: $c-lochmara;
                  font-size: pxToRem(14);
                  font-weight: 500;
                  line-height: $space-standard;
                  border-radius: 2px;
                  border: 1px solid $c-lochmara;
                  padding: 0;
                  cursor: pointer;
                  position: relative;
                }
              }
            }

            .confirm-mobile {
              display: none;
            }
          }
        }

        button {
          background-color: $c-lochmara;
          font-size: pxToRem(20);
          line-height: 28px;
          font-weight: 500;
          color: $c-white;
          border: none;
          padding: $space-xs-small 32px;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    [type="checkbox"] {
      height: $space-standard;
      width: $space-standard;
      position: absolute;
    }

    label {
      cursor: pointer;
      padding-left: $space-medium;
      font-size: pxToRem(14);
    }
  }
}

@media only screen and (max-width: 970px) {
  .search-wrapper {
    .search {
      display: none;
    }

    .search-mobile {
      display: unset;

      h1 {
        font-size: pxToRem(24);
        line-height: 1.33333333333333em;
        font-weight: 700;
        margin-bottom: 0;
      }

      p {
        margin: 0;
        font-size: pxToRem(14);
        line-height: $space-standard;
        padding: 0;
      }
    }

    .bar-wrapper {
      margin: $space-standard auto;
      max-width: 1150px;

      .search-bar {
        form {
          position: relative;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: none;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          img {
            top: $space-standard;
            left: $space-standard;
          }

          img:nth-of-type(2) {
            top: 57%;
            left: 18px;
            z-index: 1;
          }

          input:first-of-type {
            width: 100%;
            height: $space-x-large;
            border: none;
            border: $space-xs-small solid $c-selective-yellow;
            border-bottom: none;
          }

          input:nth-of-type(2) {
            width: 100%;
            height: $space-x-large;
            border: none;
            border: $space-xs-small solid $c-selective-yellow;
            border-bottom: none;
          }

          div {
            width: 100%;
            height: $space-x-large;
            border: none;
            border: $space-xs-small solid $c-selective-yellow;
            border-bottom: none;

            .details {
              min-height: 190px;
              left: -0.5%;
              right: -0.5%;
              width: unset;
              border-radius: 0;
              top: 55px;
              padding: 28px 8px;
              padding-top: $space-x-small;
              border: $space-xs-small solid $c-selective-yellow;
              border-top: none;

              .changeData {
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                margin-right: 18px;
              }

              .children {
                span {
                  top: 65%;
                  font-size: pxToRem(13);
                  z-index: 1;
                }
              }

              .confirm-mobile {
                margin-top: $space-x-small;
                display: block;
                background-color: $c-lochmara;
                font-size: pxToRem(20);
                line-height: 28px;
                font-weight: 500;
                color: $c-white;
                border: none;
                padding: $space-xs-small 32px;
                max-height: $space-x-large;
                cursor: pointer;
                width: 100%;
              }
            }
          }
          a {
            width: 100%;
            height: $space-x-large;
            border: $space-xs-small solid $c-selective-yellow;

            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $wrapper-mobile) {
  .search-wrapper {
    .search-mobile {
      h1 {
        margin-top: $space-xs-small;
      }
    }

    .bar-wrapper {
      .search-bar {
        form {
          div {
            .details {
              min-width: unset;

              .children {
                span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
