/* =Colors */
$c-zumthor: #ebf3ff;
$c-lochmara: #0071C2;
$c-black: #000000;
$c-peach-cream: #FFF0E0;
$c-flush-orange: #FF8000;
$c-white: #ffffff;
$c-mercury: #e6e6e6;
$c-wild-sand: #f5f5f5;
$c-mine-shaft: #333333;
$c-selective-yellow: #febb02;
$c-dove-gray: #6b6b6b;
$c-silver: #bdbdbd;
$c-resolution-blue: #003580;
$c-azure-radiance: #0896ff;
$c-chatthams-blue: #114083;
$c-rose-of-sharon: #b65800;
$c-gray: #838383;
$c-silver-chalice: #aeaeae;
$c-prussian-blue: #00224f;
$c-tundora: #494949;
$c-guardsman-red: #c00000;

/* =Wrappers, Breaks */
$wrapper: 1110px;
$wrapper-high: 1100px;
$wrapper-laptop: 1000px;
$wrapper-x-mid: 850px;
$wrapper-mid: 600px;
$wrapper-mobile: 500px;


/* =Paddings, Margins */
$space-xs-small: 5px;
$space-x-small: 10px;
$space-x-smaller: 12px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xl-large: 60px;

/* =Buttons */
$button-small: 138px;
$button-medium: 170px;
